<div class="container">
  <div style="display: flex; justify-content: space-between">
    <div style="font-size: 32px; margin: 30px 0">Recipes</div>
    <div style="font-size: 32px; margin: 30px 0">
      <button class="btn btn-info" [routerLink]="['/recipes/new']">Create recipe</button>
    </div>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" style="width: 15%">ID</th>
        <th scope="col" style="width: 35%">Email</th>
        <th scope="col">Ingredients</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of recipes">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>Ingredient1, Ingredient2</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
