<div class="container" *ngIf="this.recipes">
  <div style="display: flex; justify-content: space-between">
    <div style="font-size: 32px; margin: 30px 0">Recipes</div>
    <div style="font-size: 32px; margin: 30px 0">
      <button class="btn btn-info" [routerLink]="['/recipes/new']" *ngIf="canCreateRecipe()">Create recipe</button>
    </div>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" style="width: 15%">ID</th>
        <th scope="col" style="width: 35%">Email</th>
        <th scope="col">Ingredients</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of recipes">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{getIngredients(item.ingredients)}}</td>
        <td>
          <button class="btn btn-warning" (click)="viewRecipe(item.id)">View</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
