<div class="container" *ngIf="product">
  <div class="header">{{product.name}}</div>
  <div class="card">
    <h5 class="card-title" style="margin: 10px 0 0 20px">Description</h5>
    <div class="card-body">
      {{product.description}}
    </div>
    <div class="card-footer">
      <span class="badge badge-pill badge-info" style="margin: auto 2pt; font-size: 10pt" *ngFor="let tag of product.tags">{{tag}}</span>
    </div>
  </div>
  <div class="card" style="margin-top: 10px" *ngIf="userRole == 'USER'">
    <h5 class="card-title" style="margin: 10px 0 0 20px">Order product</h5>
    <div class="card-body">
      <div style="display: flex">
        <div style="margin-right: 10px; margin-top: 8px">Amount:</div>
        <form [formGroup]="countForm">
          <select formControlName="countControl" class="custom-select">
            <option [value]="amount" *ngFor="let amount of amountOptions">{{amount}}</option>
          </select>
        </form>
      </div>
      <div style="margin-top: 10px">
        <button class="btn btn-warning" (click)="createRequest()">Create Order</button>
      </div>
    </div>
  </div>
</div>
