<div class="container">
  <div class="header">Product One</div>
  <div class="card">
    <h5 class="card-title" style="margin: 10px 0 0 20px">Description</h5>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur.
    </div>
  </div>
  <div class="card" style="margin-top: 10px" *ngIf="userRole == 'USER'">
    <h5 class="card-title" style="margin: 10px 0 0 20px">Order product</h5>
    <div class="card-body">
      <div style="display: flex">
        <div style="margin-right: 10px; margin-top: 8px">Amount:</div>
        <div>
          <select class="custom-select">
            <option *ngFor="let option of amountOptions">{{option + 1}}</option>
          </select>
        </div>
      </div>
      <div style="margin-top: 10px">
        <button class="btn btn-warning">Create Order</button>
      </div>
    </div>
  </div>
</div>
