<div class="container" *ngIf="transferList">
  <div style="display: flex; justify-content: space-between">
    <div style="font-size: 32px; margin: 30px 0">Transfer reports</div>
    <div style="font-size: 32px; margin: 30px 0" *ngIf="isWarehouseManager()">
      <button class="btn btn-info" [routerLink]="['/report']">New transfer report</button>
    </div>
  </div>
  <div class="spinner-border text-info" role="status" *ngIf="!transferList">
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="transferList">
    <mat-accordion *ngFor="let item of transferList">
      <mat-expansion-panel style="margin-top: 20px">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 16px !important;">
            <div class="lead">ID: {{item.id}}</div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="text-muted">{{getProducts(item?.products)}}</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="margin-top: 20px;">
          <ul class="list-group">
            <li class="list-group-item active">Transferable items</li>
            <div *ngFor="let productInfo of getProductsAndCount(item?.products)">
              <li class="list-group-item">{{productInfo.name}}: {{productInfo.val}}</li>
            </div>
          </ul>
          <div style="margin-top: 20px">
            Status:
            <mark>{{item.status?.toUpperCase()}}</mark>
          </div>
          <div *ngIf="item.status === 'Transfer' && !isWarehouseManager()" style="margin-top: 20px">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Change status">
              <button class="btn btn-success" (click)="acknowledgeArrived(item)">Arrived at warehouse</button>
            </span>
          </div>
          <div *ngIf="item.status === 'Produced'" style="margin-top: 20px">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Change status">
              <button class="btn btn-success" (click)="transfer(item)">Transfer</button>
            </span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
