<div class="container" *ngIf="!!this.availableIngredients">
  <div class="header">Create recipe</div>
  <div>
    <input type="text" [(ngModel)]="recipeName" class="form-control" placeholder="Enter recipe name" style="margin-bottom: 20px" />
  </div>
  <div>
    <h6>Chose ingredients:</h6>
  </div>
  <div *ngFor="let ingr of chosenIngredients; let last = last; let index = index"
       style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
    <div class="row-elem">
      <input type="search" [value]="ingr" class="form-control" *ngIf="!last" disabled/>
      <form [formGroup]="userRoleGroup" *ngIf="last">
        <select formControlName="userRoleControl" class="custom-select" (ngModelChange)="handleCurrentIngredientChange($event)">
          <option [value]="role" *ngFor="let role of availableIngredients">{{role}}</option>
        </select>
      </form>
    </div>

    <div class="row-elem" style="margin-left: 10px !important;">
      <button *ngIf="last || ingr === ''" class="btn btn-info" (click)="add()" ><i class="fa fa-plus"></i> </button>
      <button *ngIf="!last" class="btn btn-info" (click)="remove(index)" ><i class="fa fa-minus"></i> </button>
    </div>
  </div>
  <div class="form-group" style="margin-top: 30px;">
    <input type="text" class="form-control" [(ngModel)]="description" placeholder="Enter recipe description" style="min-height: 60px">
  </div>
  <div style="margin-top: 10px;" class="submit-btn">
    <button class="btn btn-warning" (click)="createRecipe()" >Create recipe</button>
  </div>
</div>
