<nav class="navbar navbar-dark bg-primary">
  <div class = "container" style="display: flex">
    <div style="display: flex;" *ngFor="let header of headers;">
      <div>
        <a style="cursor: pointer" class="navbar-brand" (click)="navigate(header.link)">{{header.name}}</a>
      </div>
    </div>
    <div>
      <div class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown"
           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="cursor: pointer">
          <a class="dropdown-item" (click)="navigate('settings')">Settings</a>
          <a class="dropdown-item" (click)="exit()">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
