
/* Mobile devices */
.form-container {
	width: 100%;
}

/* Tablets */
@media only screen and (min-width: 768px) {
	.form-container {
		width: 75%;
	}
}

/* Desktop */
@media only screen and (min-width: 992px) {
	.form-container {
		width: 50%;
	}
}

/* Large desktop */
@media only screen and (min-width: 992px) {
	.form-container {
		width: 35%;
	}
}