<div class="container">
  <div style="display: flex; justify-content: space-between">
    <div style="font-size: 32px; margin: 30px 0">Ingredient Requests</div>
    <div style="font-size: 32px; margin: 30px 0" *ngIf="isWorkshopOperator()">
      <button class="btn btn-info" [routerLink]="['/ingredients/request']">Create Ingredient Request</button>
    </div>
  </div>
  <div *ngIf="ingredientRequestList">
    <mat-accordion *ngFor="let item of ingredientRequestList">
      <mat-expansion-panel style="margin-top: 20px">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 16px !important;">
            <div class="lead">ID: {{item.id}}</div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="text-muted">{{getIngredientNames(item.ingredients)}}</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="margin-top: 20px;">
          <ul class="list-group">
            <li class="list-group-item active">Requested ingredients</li>
            <div *ngFor="let ingredient of getIngredientInfo(item.ingredients)">
              <li class="list-group-item">{{ingredient.name}}: {{ingredient.val}}</li>
            </div>
          </ul>
          <div style="margin-top: 20px">
            Status:
            <mark>{{item.status.toUpperCase()}}</mark>
          </div>
          <div style="margin-top: 20px">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Change status">
              <button class="btn btn-success" [hidden]="!isWorkshopOperator() || item.status !== 'Transfer'" (click)="arrivedAtWorkshop(item)">Arrived at workshop</button>
            </span>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Change status">
              <button class="btn btn-success" [hidden]="isWorkshopOperator() || item.status !== 'Open'">Start transfer</button>
            </span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
